/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
cipher {
  vertical-align: middle;
}

.cipher-title {
  vertical-align: middle;
  text-align: center;
  background-color: #72b8d1;
}


