{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="cipher-title">
    <h1>ADVANCED ENCRYPTION STANDARD CIPHER</h1>
</div>

<!-- ECB MODE -->
<section id="ende">

    <div class="inner">
        <section id="encrypt">
            <form action="." method="post">
                <h2>Encrypt in ECB mode</h2>
                {% csrf_token %}
                {% if not encrypted_ecb %}

                {% if mistake_encrypt_ecb%}
                <label>{{countfail}} Mistakes. Invalid key (remember not to separate the elements)</label>
                {% endif %}
                
                <div class="fields">
                    <div class="field">
                        <label>Key:</label>
                        <label for="key_encrypt">write the 16-bytes key in hexadecimal without spaces </label>
                        <input type="text" id="key_encrypt" name="key_encrypt">
                    </div>
                    <div class="field" >
                        <label for="url">Url of the image:</label>
                        <textarea name="url"></textarea>
                    </div>
                </div>
                <ul class="actions">
                    <li><input type="submit" value="Encrypt image" class="primary" name="Encrypt_ECB"/></li>
                    <li><input type="reset" value="Clear" /></li>
                </ul>

                {% endif %}
            </form>
            <div>
                {% if encrypted_ecb %}
                {% if failed_encrypt_ecb %}
                <label> A random key has been chosen for you: </label>
                {% endif %}
                <div >
                    <label>Key used:  </label>
                    <p>{{key_encrypt}}</p>
                </div>
                <div><p><img src="{% static 'images/image.jpg' %}" class="img-fluid"></p></div>
                <div><p><img src="{% static 'images/result.png' %}" class="img-fluid"></p></div>

                <ul class="actions">
                    <form action="." method="get">
                        <button  type="submit" name="encrypt_again" value="encrypt">Encrypt again</button>
                    </form>

                </ul>

                {% endif %}
            </div>
        </section>

        <section id="decrypt">
            <form action="." method="post" enctype="multipart/form-data">
                <h2>Decrypt in ECB mode</h2>
                {% csrf_token %}
                {% if not decrypted_ecb %}

                {% if mistake_decrypt_ecb%}
                <label> Invalid key (remember to separate the elements)</label>
                {% endif %}

                <div class="fields">
                    <div class="field">
                        <label>Key:</label>
                        <label for="key_decrypt">write the 16-bytes key in hexadecimal without spaces </label>
                        <input type="text" id="key_decrypt" name="key_decrypt">
                    </div>
                    <div class="field">
                        <label for="im1">Select image:</label>
                        <input type="file" id="im1" name="im1" accept="image/*">
                    </div>

                </div>

                <ul class="actions">
                    <li><input type="submit" value="Decrypt image" class="primary " name="Decrypt_ECB"/></li>
                    <li><input type="reset" value="Clear" /></li>
                    <!-- <li><input type="submit" value="I don't know the key" class="primary" /></li> -->
                </ul>

                {% endif %}
            </form>
            <div>
                {% if decrypted_ecb %}
                <div >
                    <label>Key used:  </label>
                    <p>{{key_decrypt}}</p>
                </div>
                
                <div><p><img src="{% static 'images/clean.png' %}" class="img-fluid"></p></div>
                <div><p><img src="{% static 'images/out.png' %}" class="img-fluid"></p></div>


                <ul class="actions">
                    <form action="." method="get">
                        <button  type="submit" name="decrypt_again" value="decrypt">Decrypt again</button>
                    </form>

                </ul>
                {% endif %}
            </div>
        </section>
    </div>
</section>

<!-- CBC MODE -->
<section id="ende">

    <div class="inner">
        <section id="encrypt">
            <form action="." method="post">
                <h2>Encrypt in CBC mode</h2>
                {% csrf_token %}
                {% if not encrypted_cbc %}

                {% if mistake_encrypt_cbc%}
                <label>{{countfail}} Mistakes. Invalid key (remember not to separate the elements)</label>
                {% endif %}
                <div class="fields">
                    <div class="field">
                        <label>Key:</label>
                        <label for="key_encrypt">write the 16-bytes key in hexadecimal without spaces </label>
                        <input type="text" id="key_encrypt" name="key_encrypt">
                    </div>
                    <div class="field">
                        <label>Initialization vector (Optional):</label>
                        <label for="iv_encrypt">write the 16-bytes initialization vector in hexadecimal without spaces </label>
                        <input type="text" id="iv_encrypt" name="iv_encrypt">
                    </div>
                    <div class="field" >
                        <label for="url">Url of the image:</label>
                        <textarea name="url"></textarea>
                    </div>
                </div>
                <ul class="actions">
                    <li><input type="submit" value="Encrypt" class="primary" name="Encrypt_CBC"/></li>
                    <li><input type="reset" value="Clear" /></li>
                </ul>

                {% endif %}
            </form>
            <div>
                {% if encrypted_cbc %}
                {% if failed_encrypt_cbc %}
                <label> A random key and a initialization vector have been chosen for you: </label>
                {% endif %}
                <div >
                    <label>Key used:  </label>
                    <p>{{key_encrypt}}</p>
                    <label>Initialization vector used:  </label>
                    <p>{{iv_encrypt}}</p>
                </div>
                <div><p><img src="{% static 'images/image.jpg' %}" class="img-fluid"></p></div>
                <div><p><img src="{% static 'images/result.png' %}" class="img-fluid"></p></div>

                <ul class="actions">
                    <form action="." method="get">
                        <button  type="submit" name="encrypt_again" value="encrypt">Encrypt again</button>
                    </form>

                </ul>

                {% endif %}
            </div>
        </section>

        <section id="decrypt">
            <form action="." method="post" enctype="multipart/form-data">
                <h2>Decrypt in CBC mode</h2>
                {% csrf_token %}
                {% if not decrypted_cbc %}

                {% if mistake_decrypt_cbc%}
                <label> Invalid key (remember to separate the elements)</label>
                {% endif %}

                <div class="fields">
                    <div class="field">
                        <label>Key:</label>
                        <label for="key_decrypt">write the 16-byte key in hexadecimal without spaces </label>
                        <input type="text" id="key_decrypt" name="key_decrypt">
                    </div>
                    <div class="field">
                        <label>Initialization vector:</label>
                        <label for="iv_decrypt">write the 16-byte initialization vector in hexadecimal without spaces </label>
                        <input type="text" id="iv_decrypt" name="iv_decrypt">
                    </div>
                    <div class="field">
                        <label for="im1">Select image:</label>
                        <input type="file" id="im1" name="im1" accept="image/*">
                    </div>
                </div>

                <ul class="actions">
                    <li><input type="submit" value="Decrypt image" class="primary " name="Decrypt_CBC"/></li>
                    <li><input type="reset" value="Clear" /></li>
                    <!-- <li><input type="submit" value="I don't know the key" class="primary" /></li> -->
                </ul>

                {% endif %}
            </form>
            <div>
                {% if decrypted_cbc %}
                <div >
                    <label>Key used:  </label>
                    <p>{{key_decrypt}}</p>
                    <label>Initialization vector used:  </label>
                    <p>{{iv_decrypt}}</p>
                </div>
                
                <div><p><img src="{% static 'images/clean.png' %}" class="img-fluid"></p></div>
                <div><p><img src="{% static 'images/out.png' %}" class="img-fluid"></p></div>


                <ul class="actions">
                    <form action="." method="get">
                        <button  type="submit" name="decrypt_again" value="decrypt">Decrypt again</button>
                    </form>

                </ul>
                {% endif %}
            </div>
        </section>
    </div>
</section>

<!-- OFB MODE -->
<section id="ende">

    <div class="inner">
        <section id="encrypt">
            <form action="." method="post">
                <h2>Encrypt in OFB mode</h2>
                {% csrf_token %}
                {% if not encrypted_ofb %}

                {% if mistake_encrypt_ofb%}
                <label>{{countfail}} Mistakes. Invalid key (remember not to separate the elements)</label>
                {% endif %}
                <div class="fields">
                    <div class="field">
                        <label>Key:</label>
                        <label for="key_encrypt">write the 16-bytes key in hexadecimal without spaces </label>
                        <input type="text" id="key_encrypt" name="key_encrypt">
                    </div>
                    <div class="field">
                        <label>Initialization vector (Optional):</label>
                        <label for="iv_encrypt">write the 16-bytes initialization vector in hexadecimal without spaces </label>
                        <input type="text" id="iv_encrypt" name="iv_encrypt">
                    </div>
                    <div class="field" >
                        <label for="url">Url of the image:</label>
                        <textarea name="url"></textarea>
                    </div>
                </div>
                <ul class="actions">
                    <li><input type="submit" value="Encrypt" class="primary" name="Encrypt_OFB"/></li>
                    <li><input type="reset" value="Clear" /></li>
                </ul>

                {% endif %}
            </form>
            <div>
                {% if encrypted_ofb %}
                {% if failed_encrypt_ofb %}
                <label> A random key and a initialization vector have been chosen for you: </label>
                {% endif %}
                <div >
                    <label>Key used:  </label>
                    <p>{{key_encrypt}}</p>
                    <label>Initialization vector used:  </label>
                    <p>{{iv_encrypt}}</p>
                </div>
                <div><p><img src="{% static 'images/image.jpg' %}" class="img-fluid"></p></div>
                <div><p><img src="{% static 'images/result.png' %}" class="img-fluid"></p></div>

                <ul class="actions">
                    <form action="." method="get">
                        <button  type="submit" name="encrypt_again" value="encrypt">Encrypt again</button>
                    </form>

                </ul>

                {% endif %}
            </div>
        </section>

        <section id="decrypt">
            <form action="." method="post" enctype="multipart/form-data">
                <h2>Decrypt in OFB mode</h2>
                {% csrf_token %}
                {% if not decrypted_ofb %}

                {% if mistake_decrypt_ofb%}
                <label> Invalid key (remember to separate the elements)</label>
                {% endif %}

                <div class="fields">
                    <div class="field">
                        <label>Key:</label>
                        <label for="key_decrypt">write the 16-byte key in hexadecimal without spaces </label>
                        <input type="text" id="key_decrypt" name="key_decrypt">
                    </div>
                    <div class="field">
                        <label>Initialization vector:</label>
                        <label for="iv_decrypt">write the 16-byte initialization vector in hexadecimal without spaces </label>
                        <input type="text" id="iv_decrypt" name="iv_decrypt">
                    </div>
                    <div class="field">
                        <label for="im1">Select image:</label>
                        <input type="file" id="im1" name="im1" accept="image/*">
                    </div>
                </div>

                <ul class="actions">
                    <li><input type="submit" value="Decrypt image" class="primary " name="Decrypt_OFB"/></li>
                    <li><input type="reset" value="Clear" /></li>
                    <!-- <li><input type="submit" value="I don't know the key" class="primary" /></li> -->
                </ul>

                {% endif %}
            </form>
            <div>
                {% if decrypted_ofb %}
                <div >
                    <label>Key used:  </label>
                    <p>{{key_decrypt}}</p>
                    <label>Initialization vector used:  </label>
                    <p>{{iv_decrypt}}</p>
                </div>
                
                <div><p><img src="{% static 'images/clean.png' %}" class="img-fluid"></p></div>
                <div><p><img src="{% static 'images/out.png' %}" class="img-fluid"></p></div>


                <ul class="actions">
                    <form action="." method="get">
                        <button  type="submit" name="decrypt_again" value="decrypt">Decrypt again</button>
                    </form>

                </ul>
                {% endif %}
            </div>
        </section>
    </div>
</section>

<!-- CFB MODE -->
<section id="ende">

    <div class="inner">
        <section id="encrypt">
            <form action="." method="post">
                <h2>Encrypt in CFB mode</h2>
                {% csrf_token %}
                {% if not encrypted_cfb %}

                {% if mistake_encrypt_cfb%}
                <label>{{countfail}} Mistakes. Invalid key (remember not to separate the elements)</label>
                {% endif %}
                <div class="fields">
                    <div class="field">
                        <label>Key:</label>
                        <label for="key_encrypt">write the 16-bytes key in hexadecimal without spaces </label>
                        <input type="text" id="key_encrypt" name="key_encrypt">
                    </div>
                    <div class="field">
                        <label>Initialization vector (Optional):</label>
                        <label for="iv_encrypt">write the 16-bytes initialization vector in hexadecimal without spaces </label>
                        <input type="text" id="iv_encrypt" name="iv_encrypt">
                    </div>
                    <div class="field" >
                        <label for="url">Url of the image:</label>
                        <textarea name="url"></textarea>
                    </div>
                </div>
                <ul class="actions">
                    <li><input type="submit" value="Encrypt" class="primary" name="Encrypt_CFB"/></li>
                    <li><input type="reset" value="Clear" /></li>
                </ul>

                {% endif %}
            </form>
            <div>
                {% if encrypted_cfb %}
                {% if failed_encrypt_cfb %}
                <label> A random key and a initialization vector have been chosen for you: </label>
                {% endif %}
                <div >
                    <label>Key used:  </label>
                    <p>{{key_encrypt}}</p>
                    <label>Initialization vector used:  </label>
                    <p>{{iv_encrypt}}</p>
                </div>
                <div><p><img src="{% static 'images/image.jpg' %}" class="img-fluid"></p></div>
                <div><p><img src="{% static 'images/result.png' %}" class="img-fluid"></p></div>

                <ul class="actions">
                    <form action="." method="get">
                        <button  type="submit" name="encrypt_again" value="encrypt">Encrypt again</button>
                    </form>

                </ul>

                {% endif %}
            </div>
        </section>

        <section id="decrypt">
            <form action="." method="post" enctype="multipart/form-data">
                <h2>Decrypt in CFB mode</h2>
                {% csrf_token %}
                {% if not decrypted_cfb %}

                {% if mistake_decrypt_cfb%}
                <label> Invalid key (remember to separate the elements)</label>
                {% endif %}

                <div class="fields">
                    <div class="field">
                        <label>Key:</label>
                        <label for="key_decrypt">write the 16-byte key in hexadecimal without spaces </label>
                        <input type="text" id="key_decrypt" name="key_decrypt">
                    </div>
                    <div class="field">
                        <label>Initialization vector:</label>
                        <label for="iv_decrypt">write the 16-byte initialization vector in hexadecimal without spaces </label>
                        <input type="text" id="iv_decrypt" name="iv_decrypt">
                    </div>
                    <div class="field">
                        <label for="im1">Select image:</label>
                        <input type="file" id="im1" name="im1" accept="image/*">
                    </div>
                </div>

                <ul class="actions">
                    <li><input type="submit" value="Decrypt image" class="primary " name="Decrypt_CFB"/></li>
                    <li><input type="reset" value="Clear" /></li>
                    <!-- <li><input type="submit" value="I don't know the key" class="primary" /></li> -->
                </ul>

                {% endif %}
            </form>
            <div>
                {% if decrypted_cfb %}
                <div >
                    <label>Key used:  </label>
                    <p>{{key_decrypt}}</p>
                    <label>Initialization vector used:  </label>
                    <p>{{iv_decrypt}}</p>
                </div>
                
                <div><p><img src="{% static 'images/clean.png' %}" class="img-fluid"></p></div>
                <div><p><img src="{% static 'images/out.png' %}" class="img-fluid"></p></div>


                <ul class="actions">
                    <form action="." method="get">
                        <button  type="submit" name="decrypt_again" value="decrypt">Decrypt again</button>
                    </form>

                </ul>
                {% endif %}
            </div>
        </section>
    </div>
</section>

<!-- CTR MODE -->
<section id="ende">

    <div class="inner">
        <section id="encrypt">
            <form action="." method="post">
                <h2>Encrypt in CTR mode</h2>
                {% csrf_token %}
                {% if not encrypted_ctr %}

                {% if mistake_encrypt_ctr%}
                <label>{{countfail}} Mistakes. Invalid key (remember not to separate the elements)</label>
                {% endif %}
                <div class="fields">
                    <div class="field">
                        <label>Key:</label>
                        <label for="key_encrypt">write the 16-bytes key in hexadecimal without spaces </label>
                        <input type="text" id="key_encrypt" name="key_encrypt">
                    </div>
                    <div class="field">
                        <label>Nonce(Optional):</label>
                        <label for="nonce_encrypt">write the 16-byte nonce in hexadecimal without spaces </label>
                        <input type="text" id="nonce_encrypt" name="nonce_encrypt">
                    </div>
                    <div class="field" >
                        <label for="url">Url of the image:</label>
                        <textarea name="url"></textarea>
                    </div>
                </div>
                <ul class="actions">
                    <li><input type="submit" value="Encrypt" class="primary" name="Encrypt_CTR"/></li>
                    <li><input type="reset" value="Clear" /></li>
                </ul>

                {% endif %}
            </form>
            <div>
                {% if encrypted_ctr %}
                {% if failed_encrypt_ctr %}
                <label> A random key has been chosen for you: </label>
                {% endif %}
                <div >
                    <label>Key used:  </label>
                    <p>{{key_encrypt}}</p>
                    <label>Nonce used:  </label>
                    <p>{{nonce_encrypt}}</p>
                </div>
                <div><p><img src="{% static 'images/image.jpg' %}" class="img-fluid"></p></div>
                <div><p><img src="{% static 'images/result.png' %}" class="img-fluid"></p></div>

                <ul class="actions">
                    <form action="." method="get">
                        <button  type="submit" name="encrypt_again" value="encrypt">Encrypt again</button>
                    </form>

                </ul>

                {% endif %}
            </div>
        </section>

        <section id="decrypt">
            <form action="." method="post" enctype="multipart/form-data">
                <h2>Decrypt in CTR mode</h2>
                {% csrf_token %}
                {% if not decrypted_ctr %}

                {% if mistake_decrypt_ctr%}
                <label> Invalid key (remember to separate the elements)</label>
                {% endif %}

                <div class="fields">
                    <div class="field">
                        <label>Key:</label>
                        <label for="key_decrypt">write the 16-byte key in hexadecimal without spaces </label>
                        <input type="text" id="key_decrypt" name="key_decrypt">
                    </div>
                    <div class="field">
                        <label>Nonce:</label>
                        <label for="nonce_decrypt">write the 16-byte counter in hexadecimal without spaces </label>
                        <input type="text" id="nonce_decrypt" name="nonce_decrypt">
                    </div>
                    <div class="field">
                        <label for="im1">Select image:</label>
                        <input type="file" id="im1" name="im1" accept="image/*">
                    </div>
                </div>

                <ul class="actions">
                    <li><input type="submit" value="Decrypt image" class="primary " name="Decrypt_CTR"/></li>
                    <li><input type="reset" value="Clear" /></li>
                    <!-- <li><input type="submit" value="I don't know the key" class="primary" /></li> -->
                </ul>

                {% endif %}
            </form>
            <div>
                {% if decrypted_ctr %}
                <div >
                    <label>Key used:  </label>
                    <p>{{key_decrypt}}</p>
                    <label>Nonce used:  </label>
                    <p>{{nonce_decrypt}}</p>
                </div>
                
                <div><p><img src="{% static 'images/clean.png' %}" class="img-fluid"></p></div>
                <div><p><img src="{% static 'images/out.png' %}" class="img-fluid"></p></div>


                <ul class="actions">
                    <form action="." method="get">
                        <button  type="submit" name="decrypt_again" value="decrypt">Decrypt again</button>
                    </form>

                </ul>
                {% endif %}
            </div>
        </section>
    </div>
</section>
{% endblock content %}