
{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="cipher-title">
    <h1>HILL CIPHER</h1>
</div>

<!-- TEXT -->
<section id="ende">
    <div class="inner">
        <section id="encrypt">
            <form action="." method="post">
                <h2>Encrypt text</h2>
                {% csrf_token %}
                {% if not encrypted_text %}

                {% if mistake_encrypt_text%}
                <label> Invalid key (remember to separate the elements)</label>
                {% endif %}
                <div class="fields">
                    <div class="field" >
                        <label for="m_encrypt_text">Size m of the mxm matrix: </label>
                        <input type="text" id="m_encrypt_text" name="m_encrypt_text">
                    </div>
                    <div class="field">
                        <label>Key (square matrix):</label>
                        <label for="key_encrypt_text">write the matrix as you would do it in python (ex: a11 a12 a13 ...)</label>
                        <input type="text" id="key_encrypt_text" name="key_encrypt_text">
                    </div>
                    <div class="field" >
                        <label for="cleartext_text">Text to encrypt:</label><br>
                        <textarea name="cleartext_text"></textarea>
                    </div>
                </div>
                <ul class="actions">
                    <li><input type="submit" value="Encrypt" class="primary" /></li>
                    <li><input type="reset" value="Clear" /></li>
                </ul>

                {% endif %}
            </form>
            <div>
                {% if encrypted_text %}
                <div >
                    <label>Used matrix:  </label>
                    <p>{{key_encrypt_text}}</p>
                </div>
                <div >
                    <label>Your text:</label>
                    <p>{{cleartext_text}}</p>
                </div>
                <div >
                    <label>Encoded text:</label>
                    <p>{{encodedtext_text}}</p>
                </div>

                <ul class="actions">
                    <form action="." method="get">
                        <button  type="submit" name="encrypt_again" value="encrypt_text">Encrypt again</button>
                    </form>

                </ul>

                {% endif %}
            </div>
        </section>

        <section id="decrypt">
            <form action="." method="post">
                <h2>Decrypt text</h2>
                {% csrf_token %}
                {% if not decrypted_text %}

                {% if mistake_decrypt%}
                <label> Invalid key (remember to separate the elements)</label>
                {% endif %}

                <div class="fields">
                    <div class="field" >
                        <label for="m_decrypt_text">Size m of the mxm matrix: </label>
                        <input type="text" id="m_decrypt_text" name="m_decrypt_text">
                    </div>
                    <div class="field ">
                        <label>Key (square matrix):</label>
                        <label for="key_decrypt_text">write the matrix as you would do it in python (ex: a11 a12 a13 ...)</label>
                        <input type="text" id="key_decrypt_text" name="key_decrypt_text">
                    </div>
                    <div class="field" >
                        <label for="codedtext_text">Text to decrypt:</label><br>
                        <textarea name="codedtext_text"></textarea>
                    </div>
                </div>

                <ul class="actions">
                    <li><input type="submit" value="Decrypt" class="primary" /></li>
                    <li><input type="reset" value="Clear" /></li>
                    <!-- <li><input type="submit" value="I don't know the key" class="primary" /></li> -->
                </ul>

                {% endif %}
            </form>
            <div>
                {% if decrypted_text %}
                {% if failed_decrypt %}
                <label>This are all the posible text:</label>
                {% else %}
                <div >
                    <label>Used key:  </label>
                    <p>{{key_decrypt_text}}</p>
                </div>
                <div >
                    <label>Clear text:  </label>
                    <p>{{cleartext_text}}</p>
                </div>
                <div >
                    <label>Encoded text:</label>
                    <p>{{encodedtext_text}}</p>
                </div>

                <ul class="actions">
                    <form action="." method="get">
                        <button  type="submit" name="decrypt_again" value="decrypt">Decrypt again</button>
                    </form>

                </ul>
                {% endif %}
                {% endif %}
            </div>
        </section>
    </div>
</section>

<!-- IMAGES -->
<section id="ende">

    <div class="inner">
        <section id="encrypt">
            <form action="." method="post">
                <h2>Encrypt image</h2>
                {% csrf_token %}
                {% if not encrypted %}

                {% if mistake_encrypt%}
                <label> Invalid key (remember to separate the elements)</label>
                {% endif %}
                <div class="fields">
                    <div class="field" >
                        <label for="m_encrypt">Size m of the mxm matrix: </label>
                        <input type="text" id="m_encrypt" name="m_encrypt">
                    </div>
                    <div class="field">
                        <label>Key (square matrix):</label>
                        <label for="key_encrypt">write the matrix as you would do it in python (ex: a11 a12 a13 ...)</label>
                        <input type="text" id="key_encrypt" name="key_encrypt">
                    </div>
                    <div class="field" >
                        <label for="url">Url of the image:</label>
                        <textarea name="url"></textarea>
                    </div>
                </div>
                <ul class="actions">
                    <li><input type="submit" value="Encrypt" class="primary" /></li>
                    <li><input type="reset" value="Clear" /></li>
                </ul>

                {% endif %}
            </form>
            <div>
                {% if encrypted %}
                <div >
                    <label>Used matrix:  </label>
                    <p>{{key_encrypt}}</p>
                </div>
                <!-- <div >
                    <label>Your image:</label>
                    <span class="image">
                        <img src="static/images/image.jpg" alt="your image">
                    </span>
                </div>
                <div >
                    <label>Encoded image:</label>
                    <img src="out.png" alt="coded image">
                </div> -->

                <ul class="actions">
                    <form action="." method="get">
                        <button  type="submit" name="encrypt_again" value="encrypt">Encrypt again</button>
                    </form>

                </ul>

                {% endif %}
            </div>
        </section>

        <section id="decrypt">
            <form action="." method="post">
                <h2>Decrypt image</h2>
                {% csrf_token %}
                {% if not decrypted %}

                {% if mistake_decrypt%}
                <label> Invalid key (remember to separate the elements)</label>
                {% endif %}

                <div class="fields">
                    <div class="field" >
                        <label for="m_decrypt">Size m of the mxm matrix: </label>
                        <input type="text" id="m_decrypt" name="m_decrypt">
                    </div>
                    <div class="field">
                        <label>Key (square matrix):</label>
                        <label for="key_decrypt">write the matrix as you would do it in python (ex: a11 a12 a13 ...)</label>
                        <input type="text" id="key_decrypt" name="key_decrypt">
                    </div>
                    <div class="field">
                        <label for="image">Select image:</label>
                        <input type="file" id="image" name="image" accept="image/*">
                    </div>

                </div>

                <ul class="actions">
                    <li><input type="submit" value="Decrypt" class="primary" /></li>
                    <li><input type="reset" value="Clear" /></li>
                    <!-- <li><input type="submit" value="I don't know the key" class="primary" /></li> -->
                </ul>

                {% endif %}
            </form>
            <div>
                {% if decrypted %}
                {% if failed_decrypt %}
                <label>This are all the posible text:</label>
                {% else %}
                <div >
                    <label>Used key:  </label>
                    <p>{{key_decrypt}}</p>
                </div>
                <div >
                    <label>Clear text:  </label>
                    <p>{{cleartext}}</p>
                </div>
                <div >
                    <label>Encoded text:</label>
                    <p>{{encodedtext}}</p>
                </div>

                <ul class="actions">
                    <form action="." method="get">
                        <button  type="submit" name="decrypt_again" value="decrypt">Decrypt again</button>
                    </form>

                </ul>
                {% endif %}
                {% endif %}
            </div>
        </section>
    </div>
</section>
{% endblock content %}