{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="cipher-title">
    <h1>SIMPLIFIED DATA ENCRYPTION STANDARD CIPHER</h1>
</div>

<!-- TEXT -->
<section id="ende">
    <div class="inner">
        <section id="encrypt">
            <form action="." method="post">
                <h2>Encrypt text</h2>
                {% csrf_token %}
                {% if not encrypted %}

                {% if mistake_encrypt %}
                <label> {{countfail}} Mistakes. Invalid key or text (remember to separate the elements and just use 0's and 1's) </label>
                {% endif %}
                
                {% if failed_encrypt %}
                <label> A random key has been chosen for you: {{key}}</label>
                {% endif %}

                <div class="fields">
                    <div class="field">
                        <label>Key</label>
                        <label for="key_encrypt">Write the 10-bit key in the following format: 1 0 0 0 1 0 0 1 1 1</label>
                        <input type="text" id="key_encrypt" name="key_encrypt">
                    </div>
                    <div class="field" >
                        <label for="cleartext">Write the 8-bit text to encrypt in the same format as the key:</label><br>
                        <textarea name="cleartext"></textarea>
                    </div>
                </div>
                <ul class="actions">
                    <li><input type="submit" name="encrypt" value="Encrypt" class="primary" /></li>
                    <li><input type="reset" value="Clear" /></li>
                </ul>

                {% endif %}
            </form>
            <div>
                {% if encrypted %}
                
                <div >
                    <label>Your text:</label>
                    <p>{{cleartext}}</p>
                </div>
                <div >
                    <label>Encoded text:</label>
                    <p>{{encodedtext}}</p>
                </div>

                <ul class="actions">
                    <form action="." method="get">
                        <button  type="submit" name="encrypt_again" value="encrypt">Encrypt again</button>
                    </form>

                </ul>

                {% endif %}
            </div>
        </section>

        <section id="decrypt">
            <form action="." method="post">
                <h2>Decrypt text</h2>
                {% csrf_token %}
                {% if not decrypted %}

                {% if mistake_decrypt %}
                <label> Invalid key or text (remember to separate the elements and just use 0's and 1's)</label>
                {% endif %}

                <div class="fields">
                    <div class="field ">
                        <label>Key:</label>
                        <label for="key_decrypt">Write the 10-bit key in the following format: 1 0 0 0 1 0 0 1 1 1</label>
                        <input type="text" id="key_decrypt" name="key_decrypt">
                    </div>
                    <div class="field" >
                        <label for="codedtext">Write the 8-bit ciphertext to decrypt in the same format as the key:</label><br>
                        <textarea name="codedtext"></textarea>
                    </div>
                </div>

                <ul class="actions">
                    <li><input type="submit" name="decrypt" value="Decrypt" class="primary" /></li>
                    <li><input type="reset" value="Clear" /></li>
                </ul>

                {% endif %}
            </form>
            <div>
                {% if decrypted %}
                <div >
                    <label>Used key:  </label>
                    <p>{{key_decrypt}}</p>
                </div>
                <div >
                    <label>Clear text:  </label>
                    <p>{{cleartext}}</p>
                </div>
                <div >
                    <label>Encoded text:</label>
                    <p>{{encodedtext}}</p>
                </div>

                <ul class="actions">
                    <form action="." method="get">
                        <button  type="submit" name="decrypt_again" value="decrypt">Decrypt again</button>
                    </form>

                </ul>
                {% endif %}
            </div>
        </section>
    </div>
</section>
{% endblock content %}