
{% extends "base.html" %}
{% load static %}

{% block content %}
<h1> {{name}} chiper </h1>
<p>{{description}} </p>

<h2>Encrypt</h2>

<div >
    <form action="." method="post">
        {% csrf_token %}
        <div>
            <label for="key">Key (between 1 and 25):</label>
            <input type="number" id="key" name="key">
        </div>
        <div >
            <label for="cleartext">Text to encrypt:</label><br>
            <textarea name="cleartext"></textarea>
        </div>
        <input type="submit" value="Encrypt">
    </form>
</div>

{% if encrypted %}
    <p>{{encodedtext}}</p>

{% endif %}

<h2>Decrypt</h2>
<div style='margin-top:30px;'>
    <form>
        <div style='margin-top:10px;'>
            <label for="key">Key (between 1 and 25):</label>
            <input type="number" id="key" name="key" min="1" max="25">
        </div>
        <div style='margin-top:10px;'>
            <label for="ciphertext">Text to decrypt:</label><br>
            <textarea name="ciphertext"></textarea>
        </div>
        <input type="submit" value="Decrypt">
    </form>
</div>
{% endblock content %}